<h1>Show Book</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @book.name %>
  </li>

  <li>
    <strong>Isbn:</strong>
    <%= @book.isbn %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.book_path(@conn, :edit, @book) %></span>
<span><%= link "Back", to: Routes.book_path(@conn, :index) %></span>
